html {
    min-height: 100%;
    background: linear-gradient(to bottom right, #c3e3d7, #76a392 ,#6e9585);

}

.nav-wraper {
    box-shadow: none;
}

main {
    margin-top: 150px;
}
.search-bar {
    background-color: none;
}

.input-field-primary {
    display: flex;
}

.search-bar-container {
    border: solid;
    padding: 20px;
    margin: 10px 80px;
}